# Alpment OS 0.1 - Isolinux Konfigürasyonu

DEFAULT alpment
TIMEOUT 300
PROMPT 0

LABEL alpment
  KERNEL /boot/vmlinuz
  APPEND boot=casper quiet splash initrd=/boot/initrd.img

LABEL safe
  KERNEL /boot/vmlinuz
  APPEND boot=casper nomodeset quiet splash initrd=/boot/initrd.img

LABEL memtest
  KERNEL /boot/memtest
  APPEND -

LABEL hdt
  KERNEL /boot/hdt.c32
  APPEND -
